In [157]:
import pandas as pd
import numpy as np

In [158]:
df = pd.read_csv('C:/Users/thuyt/Documents/GitHub/Anti-Corruption/Final datasets/USAID/combined_usaid_Nov_18.csv')

In [159]:
# columns that needs to be aggregated by country, then by region
df[['desc_senti_score', 'desc_sub_score', 'res_senti_score', 'res_sub_score', 'intervention_type']].head(2)

,desc_senti_score,desc_sub_score,res_senti_score,res_sub_score,intervention_type
0,-0.051333,0.574667,0.120000,0.713333,"Awareness, Accountability"
1,-0.060000,0.466667,-0.033333,0.500000,"Transparency, Awareness"

In [160]:
df = df.sort_values(by=['country'], ascending=1) #sort df by country columns alphabetically

In [161]:
#df.head(30)

# Group by Country

## 1. Continuous variables

In [162]:
df1 = df[['country','desc_senti_score','desc_sub_score','res_senti_score','res_sub_score' ]]

### a. Median

In [163]:
df1_median = df1.groupby('country').median()
df1_median.head()

             desc_senti_score  desc_sub_score  res_senti_score  res_sub_score
country
Afghanistan          0.000000        0.200000         0.007407       0.442262
Albania              0.025000        0.421111        -0.055508       0.291667
Angola               0.140625        0.219792        -0.188889       0.320833
Armenia             -0.103125        0.310417         0.000000       0.347470
Azerbaijan          -0.015625        0.463750         0.000000       0.314892

In [164]:
df1_median.columns = ['desc_senti_score_median','desc_sub_score_median','res_senti_score_median', 'res_sub_score_median']
df1_median.reset_index(level=0, inplace=True)
df1_median.head(2)

,country,desc_senti_score_median,desc_sub_score_median,res_senti_score_median,res_sub_score_median
0,Afghanistan,0.000,0.200000,0.007407,0.442262
1,Albania,0.025,0.421111,-0.055508,0.291667

### b. Mean

In [165]:
df1_mean = df1.groupby('country').mean()
df1_mean.columns = ['desc_senti_score_mean','desc_sub_score_mean','res_senti_score_mean', 'res_sub_score_mean']
df1_mean.reset_index(level=0, inplace=True)
df1_mean.head(2)

,country,desc_senti_score_mean,desc_sub_score_mean,res_senti_score_mean,res_sub_score_mean
0,Afghanistan,0.002660,0.250124,0.095316,0.392658
1,Albania,0.053542,0.411111,-0.092047,0.338218

### c. Min

In [166]:
df1_min = df1.groupby('country').min()
df1_min.columns = ['desc_senti_score_min','desc_sub_score_min','res_senti_score_min', 'res_sub_score_min']
df1_min.reset_index(level=0, inplace=True)
df1_min.head(2)

,country,desc_senti_score_min,desc_sub_score_min,res_senti_score_min,res_sub_score_min
0,Afghanistan,-0.355556,0.000000,-0.45,0.0
1,Albania,-0.250000,0.008333,-0.23,0.0

### d. Max

In [167]:
df1_max = df1.groupby('country').max()
df1_max.columns = ['desc_senti_score_max','desc_sub_score_max','res_senti_score_max', 'res_sub_score_max']
df1_max.reset_index(level=0, inplace=True)
df1_max.head(2)

,country,desc_senti_score_max,desc_sub_score_max,res_senti_score_max,res_sub_score_max
0,Afghanistan,0.497143,0.827143,0.900000,0.800000
1,Albania,0.300000,0.950000,0.044643,0.700833

In [168]:
# Merge together?

## 2. Categorical variable: 'intervention_type'

In [169]:
# `combined_usaid_Nov_18 - intervention_type` is the file I have modified outside of this Jupyter Notebook. 
# the modification is that I split the cells where there are more than 1 intervention types, and changed the file so that
# each row only contains one intervention type by adding the second/third/fourth intervention_type in new separate rows
# I trimmed spaces in cells
# I sorted the dataset by country in alphabetical order.
df2 = pd.read_csv('C:/Users/thuyt/Documents/GitHub/Anti-Corruption/country-level aggregation form/combined_usaid_Nov_18 - intervention_type.csv')

In [170]:
df2.head(5)

       country intervention_type
0  Afghanistan         Awareness
1  Afghanistan      Transparency
2  Afghanistan         Awareness
3  Afghanistan        Assessment
4  Afghanistan      Transparency

In [171]:
df2['intervention_type'].unique() #unique intervention types

array(['Awareness', 'Transparency', 'Assessment', 'Accountability',
       'Participation', 'Enforcement', 'Study',
       'Citizen/Media/Business Engagement/Participation'], dtype=object)

In [172]:
df2['country'].nunique() #number of unique countries

74

In [173]:
intervention_type_Awareness_count=df2[df2['intervention_type'] == 'Awareness' ].groupby('country')['intervention_type'].count()
# Re-create a new array of levels, now including all countries

In [174]:
# we do thing similarly for other intervention types
intervention_type_Transparency_count=df2[df2['intervention_type'] == 'Transparency' ].groupby('country')['intervention_type'].count()
intervention_type_Assessment_count=df2[df2['intervention_type'] == 'Assessment' ].groupby('country')['intervention_type'].count()
intervention_type_Accountability_count=df2[df2['intervention_type'] == 'Accountability' ].groupby('country')['intervention_type'].count()
intervention_type_Participation_count=df2[df2['intervention_type'] == 'Participation' ].groupby('country')['intervention_type'].count()
intervention_type_Enforcement_count=df2[df2['intervention_type'] == 'Enforcement' ].groupby('country')['intervention_type'].count()
intervention_type_Study_count=df2[df2['intervention_type'] == 'Study' ].groupby('country')['intervention_type'].count()

In [175]:
intervention_type_Citizen_Media_Business_Engagement_Participation_count=df2[df2['intervention_type'] == 'Citizen/Media/Business Engagement/Participation' ].groupby('country')['intervention_type'].count()

In [176]:
import functools

df2s = [intervention_type_Awareness_count, intervention_type_Transparency_count,
       intervention_type_Assessment_count,intervention_type_Accountability_count,
       intervention_type_Participation_count,intervention_type_Enforcement_count,
       intervention_type_Study_count,intervention_type_Citizen_Media_Business_Engagement_Participation_count]

df_intervention_type= functools.reduce(lambda left,right: pd.merge(left,right,on=["country"], how="outer"), df2s).fillna(0)
df_intervention_type.head()

,intervention_type_x,intervention_type_y,intervention_type_x,intervention_type_y,intervention_type_x,intervention_type_y,intervention_type_x,intervention_type_y
country,,,,,,,,
Afghanistan,8.0,13.0,4.0,14.0,13.0,0.0,0.0,0.0
Albania,1.0,8.0,0.0,6.0,2.0,3.0,0.0,0.0
Armenia,1.0,1.0,0.0,0.0,2.0,1.0,0.0,0.0
Azerbaijan,1.0,3.0,0.0,2.0,1.0,1.0,0.0,0.0
Bangladesh,2.0,1.0,0.0,1.0,3.0,0.0,0.0,0.0

In [177]:
df_intervention_type.columns =['intervention_type_Awareness_count', 'intervention_type_Transparency_count',
       'intervention_type_Assessment_count','intervention_type_Accountability_count',
       'intervention_type_Participation_count','intervention_type_Enforcement_count',
       'intervention_type_Study_count','intervention_type_Citizen_Media_Business_Engagement_Participation_count']

In [178]:
df_intervention_type.head()

,intervention_type_Awareness_count,intervention_type_Transparency_count,intervention_type_Assessment_count,intervention_type_Accountability_count,intervention_type_Participation_count,intervention_type_Enforcement_count,intervention_type_Study_count,intervention_type_Citizen_Media_Business_Engagement_Participation_count
country,,,,,,,,
Afghanistan,8.0,13.0,4.0,14.0,13.0,0.0,0.0,0.0
Albania,1.0,8.0,0.0,6.0,2.0,3.0,0.0,0.0
Armenia,1.0,1.0,0.0,0.0,2.0,1.0,0.0,0.0
Azerbaijan,1.0,3.0,0.0,2.0,1.0,1.0,0.0,0.0
Bangladesh,2.0,1.0,0.0,1.0,3.0,0.0,0.0,0.0

In [179]:
df_intervention_type.reset_index(level=0, inplace=True)

In [186]:
df_intervention_type.sort_values(by = ['country'], ascending = 1, inplace = True)

### Combine all the datasets so far

In [187]:
# compile the list of dataframes you want to merge
data_frames = [df1_median, df1_mean, df1_min, df1_max,df_intervention_type]

In [188]:
from functools import reduce
df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['country'],
                                            how='outer'), data_frames)

In [190]:
df_merged.head()

,country,desc_senti_score_median,desc_sub_score_median,res_senti_score_median,res_sub_score_median,desc_senti_score_mean,desc_sub_score_mean,res_senti_score_mean,res_sub_score_mean,desc_senti_score_min,...,res_senti_score_max,res_sub_score_max,intervention_type_Awareness_count,intervention_type_Transparency_count,intervention_type_Assessment_count,intervention_type_Accountability_count,intervention_type_Participation_count,intervention_type_Enforcement_count,intervention_type_Study_count,intervention_type_Citizen_Media_Business_Engagement_Participation_count
0,Afghanistan,0.000000,0.200000,0.007407,0.442262,0.002660,0.250124,0.095316,0.392658,-0.355556,...,0.900000,0.800000,8.0,13.0,4.0,14.0,13.0,0.0,0.0,0.0
1,Albania,0.025000,0.421111,-0.055508,0.291667,0.053542,0.411111,-0.092047,0.338218,-0.250000,...,0.044643,0.700833,1.0,8.0,0.0,6.0,2.0,3.0,0.0,0.0
2,Angola,0.140625,0.219792,-0.188889,0.320833,0.140625,0.219792,-0.188889,0.320833,0.140625,...,-0.188889,0.320833,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
3,Armenia,-0.103125,0.310417,0.000000,0.347470,-0.108705,0.348065,-0.045443,0.346354,-0.328571,...,0.023810,0.690476,1.0,1.0,0.0,0.0,2.0,1.0,0.0,0.0
4,Azerbaijan,-0.015625,0.463750,0.000000,0.314892,0.021792,0.342333,-0.078747,0.281026,-0.250000,...,0.011905,0.620000,1.0,3.0,0.0,2.0,1.0,1.0,0.0,0.0

In [191]:
df_merged.shape #the number of countries are preserved

(74, 25)

In [192]:
df_merged.to_csv('country_level_Jen.csv')