In [1]:
import pandas as pd
import numpy as np

In [2]:
s0 = pd.read_csv('Step0_Ind_country_Yue.csv')
s0.head()

,Unnamed: 0,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,...,2013,2014,2015,2016,2017,2018,2019,2020,Region,IncomeGroup
0,0,Afghanistan,AFG,Access To Clean Fuels And Technologies For Coo...,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,...,26.170000,27.990000,30.100000,32.44000,NaN,NaN,NaN,NaN,South Asia,Low income
1,1,Afghanistan,AFG,Access To Electricity (% Of Population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,...,68.933266,89.500000,71.500000,97.70000,97.700000,98.713203,NaN,NaN,South Asia,Low income
2,2,Afghanistan,AFG,"Access To Electricity, Rural (% Of Rural Popul...",EG.ELC.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,...,61.282199,86.500512,64.573354,97.09936,97.091973,98.272872,NaN,NaN,South Asia,Low income
3,3,Afghanistan,AFG,"Access To Electricity, Urban (% Of Urban Popul...",EG.ELC.ACCS.UR.ZS,NaN,NaN,NaN,NaN,NaN,...,92.673767,98.700000,92.500000,99.50000,99.500000,100.000000,NaN,NaN,South Asia,Low income
4,4,Afghanistan,AFG,Account Ownership At A Financial Institution O...,FX.OWN.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,...,NaN,9.961000,NaN,NaN,14.893312,NaN,NaN,NaN,South Asia,Low income

In [3]:
s4 = pd.read_csv('Step4_merge_USAID_region_Jen.csv')
s4.head()

,Unnamed: 0,Country Code,Year,Country Name,Access To Clean Fuels And Technologies For Cooking (% Of Population),Access To Electricity (% Of Population),"Access To Electricity, Rural (% Of Rural Population)","Access To Electricity, Urban (% Of Urban Population)",Account Ownership At A Financial Institution Or With A Mobile-Money-Service Provider (% Of Population Ages 15+),"Account Ownership At A Financial Institution Or With A Mobile-Money-Service Provider, Female (% Of Population Ages 15+)",...,Women Who Believe A Husband Is Justified In Beating His Wife When She Burns The Food (%),Women Who Believe A Husband Is Justified In Beating His Wife When She Goes Out Without Telling Him (%),Women Who Believe A Husband Is Justified In Beating His Wife When She Neglects The Children (%),Women Who Believe A Husband Is Justified In Beating His Wife When She Refuses Sex With Him (%),Women Who Were First Married By Age 15 (% Of Women Ages 20-24),Women Who Were First Married By Age 18 (% Of Women Ages 20-24),Women'S Share Of Population Ages 15+ Living With Hiv (%),Corruption Perception Index,Corruption Perception Rank,region
0,0,AFG,2000,Afghanistan,8.8,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,27.7,NaN,NaN,South and Central Asia (SCA)
1,1,AFG,2000,Afghanistan,8.8,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,27.7,NaN,NaN,South and Central Asia (SCA)
2,2,AFG,2000,Afghanistan,8.8,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,27.7,NaN,NaN,South and Central Asia (SCA)
3,3,AFG,2000,Afghanistan,8.8,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,27.7,NaN,NaN,South and Central Asia (SCA)
4,4,AFG,2000,Afghanistan,8.8,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,27.7,NaN,NaN,South and Central Asia (SCA)

In [16]:
s5 = s0[['Country Code','Region', 'IncomeGroup']]
#final = pd.merge(s5, s4, how = 'right', on = 'Country Code')
#final.head()

In [17]:
s5.drop_duplicates(inplace = True)
s5.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

     Country Code                      Region          IncomeGroup
0             AFG                  South Asia           Low income
1437          ALB       Europe & Central Asia  Upper middle income
2874          DZA  Middle East & North Africa  Lower middle income
4311          ASM         East Asia & Pacific  Upper middle income
5748          AND       Europe & Central Asia          High income

In [18]:
s5.shape

(217, 3)

In [23]:
final = s4.merge(s5, how = 'left', on = 'Country Code')
final.head()

,Unnamed: 0,Country Code,Year,Country Name,Access To Clean Fuels And Technologies For Cooking (% Of Population),Access To Electricity (% Of Population),"Access To Electricity, Rural (% Of Rural Population)","Access To Electricity, Urban (% Of Urban Population)",Account Ownership At A Financial Institution Or With A Mobile-Money-Service Provider (% Of Population Ages 15+),"Account Ownership At A Financial Institution Or With A Mobile-Money-Service Provider, Female (% Of Population Ages 15+)",...,Women Who Believe A Husband Is Justified In Beating His Wife When She Neglects The Children (%),Women Who Believe A Husband Is Justified In Beating His Wife When She Refuses Sex With Him (%),Women Who Were First Married By Age 15 (% Of Women Ages 20-24),Women Who Were First Married By Age 18 (% Of Women Ages 20-24),Women'S Share Of Population Ages 15+ Living With Hiv (%),Corruption Perception Index,Corruption Perception Rank,region,Region,IncomeGroup
0,0,AFG,2000,Afghanistan,8.8,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,27.7,NaN,NaN,South and Central Asia (SCA),South Asia,Low income
1,1,AFG,2000,Afghanistan,8.8,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,27.7,NaN,NaN,South and Central Asia (SCA),South Asia,Low income
2,2,AFG,2000,Afghanistan,8.8,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,27.7,NaN,NaN,South and Central Asia (SCA),South Asia,Low income
3,3,AFG,2000,Afghanistan,8.8,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,27.7,NaN,NaN,South and Central Asia (SCA),South Asia,Low income
4,4,AFG,2000,Afghanistan,8.8,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,27.7,NaN,NaN,South and Central Asia (SCA),South Asia,Low income

In [24]:
final.drop('Unnamed: 0', axis = 1, inplace = True)
#inal['region'] = final['region_USAID']
#inal['Region'] = final['region_WorldBank']
#inal.drop(['Region','region'], axis = 1, inplace = True)
#inal.head()

In [27]:
final['region_USAID'] = final['region']
final['region_WorldBank'] = final['Region']

In [28]:
final.drop(['region', 'Region'], axis = 1, inplace = True)
final.head()

,Country Code,Year,Country Name,Access To Clean Fuels And Technologies For Cooking (% Of Population),Access To Electricity (% Of Population),"Access To Electricity, Rural (% Of Rural Population)","Access To Electricity, Urban (% Of Urban Population)",Account Ownership At A Financial Institution Or With A Mobile-Money-Service Provider (% Of Population Ages 15+),"Account Ownership At A Financial Institution Or With A Mobile-Money-Service Provider, Female (% Of Population Ages 15+)","Account Ownership At A Financial Institution Or With A Mobile-Money-Service Provider, Male (% Of Population Ages 15+)",...,Women Who Believe A Husband Is Justified In Beating His Wife When She Neglects The Children (%),Women Who Believe A Husband Is Justified In Beating His Wife When She Refuses Sex With Him (%),Women Who Were First Married By Age 15 (% Of Women Ages 20-24),Women Who Were First Married By Age 18 (% Of Women Ages 20-24),Women'S Share Of Population Ages 15+ Living With Hiv (%),Corruption Perception Index,Corruption Perception Rank,IncomeGroup,region_USAID,region_WorldBank
0,AFG,2000,Afghanistan,8.8,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,27.7,NaN,NaN,Low income,South and Central Asia (SCA),South Asia
1,AFG,2000,Afghanistan,8.8,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,27.7,NaN,NaN,Low income,South and Central Asia (SCA),South Asia
2,AFG,2000,Afghanistan,8.8,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,27.7,NaN,NaN,Low income,South and Central Asia (SCA),South Asia
3,AFG,2000,Afghanistan,8.8,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,27.7,NaN,NaN,Low income,South and Central Asia (SCA),South Asia
4,AFG,2000,Afghanistan,8.8,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,27.7,NaN,NaN,Low income,South and Central Asia (SCA),South Asia

In [29]:
final.to_csv('final.csv')